/*---------------------------------------
* Plugin Projects Showroom
*---------------------------------------*/
.showroom{
    margin: 80px 0;
    position: relative;
}
.shr-row{
    max-width: 1180px;
    width: 100%;
    box-sizing: border-box;
}
.shr-container{
    margin: 10px auto;
}
.shr-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.showroom-project{
    display: inline-block;
    position: relative;
    margin: 5px;
}
.showroom-navigation{
    width:100%;
    text-align: center;
    margin-bottom: 1em;
    padding: 5px;
    font-size: 1.2em;
}

.psr-nav {
    color: #616161;
    transition: ease 0.5s;
    padding: 5px 25px;
    font-size: 1em;
    text-transform: uppercase;
    display: inline;
    margin-right: 15px;
    cursor: pointer;
    background: #ebeaef;
    border-radius: 5px;
}

.psr-nav.active{
    background-color: #E31B6D;
    color:#fff; 
}

.psr-nav:hover{
    color:#E31B6D;
    background-color: #1B242F;
}

.showrrom-thumbnail-image{
    background: url('../img/no-images-330-254.png') center center/cover;
    width:330px;
    height:245px;
    cursor: pointer;
    transition: opacity .5s;
    max-width: 100%;
    opacity: 1;
    z-index: 0;
}
.showrrom-thumbnail-image:hover{
    opacity: 1;
}

.projects-container{
    position: absolute;
    top:0;
    text-align: center;
    z-index: 99;
    left: 0;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height:100%;
}
.projects-container:hover{
    opacity: 0.8;
}
.showroom-project-description p{
    font-size:2em;
    text-align: center;
    color: #fff;
    padding:0px;
    padding-top:10%;
}
.showroom-project-sub-description p{
    font-size:1.2em;
    text-align: center;
    color: #fff;
    padding:0px;

}
.showroom-project-sub-sub-description p a{
    font-size:0.9em;
    text-align: center;
    color: #fff;
    padding:0px;
}
.showroom-project-sub-sub-description p a:hover{
    color: #1B242F;
    text-decoration: none;
}